{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 p-0">
                    <a href="{% url 'shop:product_list_brand' category_name='Обличчя' brand_id='The Ordinary' %}">
                        <div class="categories__item categories__large__item set-bg" data-setbg="{% static 'img/categories/or.png' %}">
                            <div class="categories__text">
                                <h1>The Ordinary</h1>
                                <p>Купувати</p>
                            </div>
                        </div>
                    </a>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <a href="{% url 'shop:product_list_brand' category_name='Обличчя' brand_id='Byoma' %}">
                            <div class="categories__item set-bg" data-setbg="{% static 'img/categories/b.png' %}">
                                <div class="categories__text">
                                    <h4>Byoma</h4>
                                    <p>Купувати</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <a href="{% url 'shop:product_list_brand' category_name='Обличчя' brand_id='Pixi' %}">
                            <div class="categories__item set-bg" data-setbg="{% static 'img/categories/pix.png' %}">
                                <div class="categories__text">
                                    <h4>Pixi</h4>
                                    <p>Купувати</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <a href="{% url 'shop:product_list_brand' category_name='Обличчя' brand_id='Q+A' %}">
                            <div class="categories__item set-bg" data-setbg="{% static 'img/categories/qa.png' %}">
                                <div class="categories__text">
                                    <h4>Q+A</h4>
                                    <p>Купувати</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <a href="{% url 'shop:product_list_brand' category_name='Обличчя' brand_id='THE INKEY LIST' %}">
                            <div class="categories__item set-bg" data-setbg="{% static 'img/categories/ink.png' %}">
                                <div class="categories__text">
                                    <h4>THE INKEY LIST</h4>
                                    <p>Купувати</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="section-title">
                    <h4>Нові надходження</h4>
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <ul class="filter__controls">
                    <li class="active" data-filter="*">Всі</li>
                    <li data-filter=".Обличчя">Обличчя</li>
                    <li data-filter=".Тіло">Тіло</li>
                    <li data-filter=".Вітаміни">Вітаміни</li>
                </ul>
            </div>
        </div>
        <div class="row property__gallery">
            {% for product in latest_products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mix {{ product.category }}">
                    <div class="product__item">
                        <div class="product__item__pic">
                            <a href="{{ product.get_absolute_url }}">
                                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/shop/no_image.jpg' %}{% endif %}" alt="Product Image">
                            </a>
                            <ul class="product__hover">
                                <li>
                                    <a href="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/shop/no_image.jpg' %}{% endif %}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li>
                                    <a>
                                        <form method="post" action="{% url 'cart:cart_add' product.id %}?category={{ product.category }}">
                                            {% csrf_token %}
                                            <span class="icon_bag_alt cart-add-button" onclick="this.parentElement.submit();"></span>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">{{product.price}} грн.</div>
                        </div>
                    </div>
                </div>
                {% empty %}
                    <img src="{% static 'img/shop/not_found.jpeg' %}" width="640" height="640"
                         style="display: block; margin: 0 auto;">

            <!-- Здесь вывод информации о товаре -->
            {% endfor %}
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="{% static 'img/banner/banner-1.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->
<section class="trend spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Лідери продажу</h4>
                    </div>
                    {% for prod in top_products %}
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="{{ prod.image.url }}" alt="" width="90" height="100">
                            </div>
                            <div class="trend__item__text">
                                <h6>{{ prod.name|truncatewords:6 }}</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">{{prod.price}} грн.</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Бестселлери</h4>
                    </div>
                    {% for p in best_seller %}
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="{{ p.image.url }}" alt="" width="90" height="100">
                            </div>
                            <div class="trend__item__text">
                                <h6>{{ p.name|truncatewords:6 }}</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">{{p.price}} грн.</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Товари тижня</h4>
                    </div>
                    {% for p in feature %}
                        <div class="trend__item">
                            <div class="trend__item__pic">
                                <img src="{{ p.image.url }}" alt="" width="90" height="100">
                            </div>
                            <div class="trend__item__text">
                                <h6>{{ p.name|truncatewords:6 }}</h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">{{p.price}} грн.</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trend Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-car"></i>
                    <h6>Безкоштовна доставка</h6>
                    <p>При замовленні від 2000 грн.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-money"></i>
                    <h6>Повернення грошей</h6>
                    <p>Якщо з товаром виникли проблеми</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-support"></i>
                    <h6>Онлайн підтримка 24/7</h6>
                    <p>Спеціалізована підтримка</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa fa-headphones"></i>
                    <h6>Безпечний платіж</h6>
                    <p>100% безпечний платіж</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search End -->

{% endblock %}
