{% extends "shop/base.html" %}
{% load static %}


{% block content %}

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'shop:index' %}"><i class="fa fa-home"></i> Головна</a>
                    <span>{{category.name}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="shop__sidebar">
                    <div class="sidebar__color">
                        <div class="section-title">
                            <h4>Група товару</h4>
                        </div>
                        <div class="size__list color__list">
                            <form id="filter-form" action="{% url 'shop:product_list' category_name %}" method="GET">
                                {% for subcategory in subcategories %}
                                <label for="subcategory-{{ subcategory.id }}">
                                    {{ subcategory.name|title }}
                                    <input type="checkbox" id="subcategory-{{ subcategory.id }}" name="subcategory" value="{{ subcategory.id }}" class="filter-checkbox subcategory-checkbox" {% if subcategory.id|stringformat:"s" in selected_subcategories %}checked{% endif %}>
                                    <span class="checkmark"></span>
                                </label>
                                {% endfor %}

                                <!-- Фильтр по брендам -->
                                <div class="sidebar__brands">
                                    <div class="section-title">
                                        <br>
                                        <h4>Бренди</h4>
                                    </div>
                                    {% for brand in brands %}
                                    <label for="brand-{{ brand.id }}">
                                        {{ brand.name }}
                                        <input type="checkbox" id="brand-{{ brand.id }}" name="brand" value="{{ brand.id }}" class="filter-checkbox" {% if brand.id|stringformat:"s" in selected_brands %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                    {% endfor %}
                                </div>

                                <div class="sidebar__prices">
                                    <div class="section-title">
                                        <br>
                                        <h4>Пошук за ціною</h4>
                                    </div>
                                    {% for price_interval in price_intervals %}
                                    <label for="price-{{ price_interval.min }}-{{ price_interval.max }}">
                                        {{ price_interval.label }}
                                        <input type="checkbox" id="price-{{ price_interval.min }}-{{ price_interval.max }}" name="price_range" value="{{ price_interval.min }}-{{ price_interval.max }}" class="filter-checkbox" {% if price_interval.range_selected %}checked{% endif %}>
                                        <span class="checkmark"></span>
                                    </label>
                                    {% endfor %}
                                </div>
                                <button type="submit" style="display: none;"></button>

                                <script>
                                    const filterCheckboxes = document.querySelectorAll('.filter-checkbox');
                                    const filterForm = document.getElementById('filter-form');

                                    filterCheckboxes.forEach(checkbox => {
                                        checkbox.addEventListener('change', function() {
                                            filterForm.submit();
                                        });
                                    });

                                </script>

                            <!-- Сброс фильтров -->
                                <br>
                            <div class="selected-filter-list__item cancel-filter active">
                                <a href="{% url 'shop:product_list' category_name=category.name %}?min_price=&max_price=" class="reset-filters-link">
                                    <span>Прибрати фільтри</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    {% for product in products %}
                    <div class="col-lg-4 col-md-6">
                        <div class="product__item">
                            <div class="product__item__pic">
                                <a href="{{ product.get_absolute_url }}">
                                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/shop/no_image.jpg' %}{% endif %}" alt="Product Image">
                                </a>
                                <ul class="product__hover">
                                    <li>
                                        <a href="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/shop/no_image.jpg' %}{% endif %}"
                                           class="image-popup"><span class="arrow_expand"></span></a></li>
                                    <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                    <li>
                                        <a>
                                            <form method="post" action="{% url 'cart:cart_add' product.id %}?category={{ category }}">
                                                {% csrf_token %}
                                                <span class="icon_bag_alt cart-add-button" onclick="this.parentElement.submit();"></span>
                                            </form>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h6>
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="product__price">{{product.price}} грн.</div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <img src="{% static 'img/shop/not_found.jpeg' %}" width="640" height="640"
                         style="display: block; margin: 0 auto;">

                    <!-- Здесь вывод информации о товаре -->
                    {% endfor %}
                </div>
                <!-- Пагинация -->
                <div class="col-lg-9 col-md-9">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="pagination__option">
                                {% if products.has_previous %}
                                    <a href="?page=1">&laquo;</a>
                                    <a href="?page={{ products.previous_page_number }}">&lsaquo;</a>
                                {% endif %}
                                {% for i in products.paginator.page_range %}
                                    {% if products.number == i %}
                                        <a href="?page={{ i }}" style="background-color: #ca1515; color: white;">{{ i }}</a>
                                    {% else %}
                                        <a href="?page={{ i }}">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                                {% if products.has_next %}
                                    <a href="?page={{ products.next_page_number }}">&rsaquo;</a>
                                    <a href="?page={{ products.paginator.num_pages }}">&raquo;</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->

{% endblock %}
