{% extends "shop/base.html" %}
{% load static %}

{% block content %}}

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'shop:index' %}"><i class="fa fa-home"></i> Головна</a>
                        <a href="{% url 'shop:face_list' category_name=category.name %}">{{ category.name }}</a>
                        <span>{{ product.name }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#product-1">
                                <img src="{{ product.image.url }}" alt="">
                            </a>
                            {% for image in product.productimage_set.all %}
                            <a class="pt" href="#product-{{ forloop.counter }}">
                                <img src="{{ image.images.url }}" alt="">
                            </a>
                            {% endfor %}
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="product-1" class="product__big__img" src="{{ product.image.url }}" alt="">
                                {% for image in product.productimage_set.all %}
                                <img data-hash="product-{{ forloop.counter }}" class="product__big__img" src="{{ image.images.url }}" alt="">
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }} <span>Бренд: {{product.brand}}</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <span>( 138 reviews )</span>
                        </div>
                        <div class="product__details__price">{{ product.price }} грн.<span>$ 83.0</span></div>
                        <p>{{ product.mini_description }}</p>
                        <div class="product__details__button">
                            <form method="post" action="{% url 'cart:cart_add' product.id %}?category={{ category }}">

                                {% csrf_token %}
                                <div class="quantity">
                                    <span>Кількість:</span>
                                    <div class="pro-qty">
                                        <input type="text" name="quantity" value="1" min="1">
                                    </div>
                                </div>
                                <button type="submit" class="product__details__button cart-btn"><span class="icon_bag_alt"></span> У кошик </button>
                            </form>
                            <ul>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a data-toggle="tab" href="#tabs-3"><span class="icon_adjust-horiz"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Опис</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Спосіб застосування</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Відгуки({{ review_count }})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <h6>Опис</h6>
                                <p>{{ product.description }}</p>
                            </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Спосіб застосування</h6>
                                <p>{{ product.specification}}</p>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Відгуки</h6>
                                <form action="{% url 'shop:add_review' product.id %}" method="post" class="mt-4">
                                    {% csrf_token %}
                                    <div class="form-group editContent">
                                        <textarea class="form-control border" rows="3" name="text" id="contactcomment"
                                                  placeholder="Залишити відгук *" required=""></textarea>
                                    </div>
                                    <div class="d-sm-flex">
                                        <div class="col-sm-6 form-group p-0 editContent">
                                            <input type="text" class="form-control border" name="name" value="{{ user_data.first_name }}"
                                                   placeholder="Ваше ім'я *" id="contactusername" required="">
                                        </div>
                                        <div class="col-sm-6 form-group ml-sm-3 editContent">
                                            <input type="email" class="form-control border" name="email" value="{{ user_data.email }}"
                                                   placeholder="Ваш email *" id="contactemail" required="">
                                        </div>
                                    </div>
                                    <button type="submit" class="mt-3 btn site-btn btn-block py-3">Надрукувати</button>
                                </form>
                                <br>

                                {% for review in product.reviews_set.all %}
                                    <div class="media-body mt-4">
                                        <h5 class="mt-0 editContent">{{ review.name }}</h5>
                                        <p class="mt-2 editContent">{{ review.text }}</p>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if recommended_products %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>З цим, також купують</h5>
                    </div>
                </div>
                {% for p in recommended_products %}

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic" style="background-size: cover;">
                            <a href="{{ p.get_absolute_url }}">
                                <img src="{% if p.image %}{{ p.image.url }}{% else %}{% static 'img/shop/no_image.jpg' %}{% endif %}" alt="Product Image">
                            </a>

                            <ul class="product__hover">
                                <li><a href="{{ p.image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li>
                                    <a>
                                        <form method="post" action="{% url 'cart:cart_add' p.id %}">
                                            {% csrf_token %}
                                            <span class="icon_bag_alt cart-add-button" onclick="this.parentElement.submit();"></span>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{ p.name }}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">{{p.price}} грн.</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>СУПУТНІ ТОВАРИ</h5>
                    </div>
                </div>
                {% for related_product in random_related_products %}

                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic" style="background-size: cover;">
                            <a href="{{ related_product.get_absolute_url }}">
                                <img src="{% if related_product.image %}{{ related_product.image.url }}{% else %}{% static 'img/shop/no_image.jpg' %}{% endif %}" alt="Product Image">
                            </a>

                            <ul class="product__hover">
                                <li><a href="{{ related_product.image.url }}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li>
                                    <a>
                                        <form method="post" action="{% url 'cart:cart_add' related_product.id %}">
                                            {% csrf_token %}
                                            <span class="icon_bag_alt cart-add-button" onclick="this.parentElement.submit();"></span>
                                        </form>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{ related_product.name }}</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product__price">{{related_product.price}} грн.</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->



{% endblock %}

