{% extends "shop/base.html" %}
{% load static %}
{% block content %}


<style>
    .center-form-container {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 768px) {
        .checkout {
            display: flex;
            justify-content: center;
        }

        .checkout .col-lg-8 {
            margin-left: auto;
            margin-right: auto;
        }
    }

</style>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'shop:index' %}"><i class="fa fa-home"></i> Головна</a>
                    <span>Персональні дані</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <form action="#" class="checkout__form">
             {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="row">
                <div class="col-lg-8">
                    <h5>Персональні дані</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Ваше ім'я</p>
                                <input type="text" value="{{ user_data.username|default:'не указано' }}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Ваше прізвище</p>
                                <input type="text" value="{{ user_data.last_name|default:'не указано' }}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Дата народження </p>
                                <input type="text" value="{{ user_data.birth_date|default:'не указано' }}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Телефон </p>
                                <input type="text" value="{{ user_data.phone|default:'не указано' }}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Email </p>
                                <input type="text" value="{{ user_data.email|default:'не указано' }}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Місто </p>
                                <input type="text" value="{{ user_data.city|default:'не указано' }}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Відділ нової пошти </p>
                                <input type="text" value="{{ user_data.department_np|default:'не указано' }}" readonly>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <button type="submit" class="site-btn site-btn-link" formaction="{% url 'edit' %}">редагувати дані</button>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <button type="submit" class="site-btn site-btn-link" formaction="{% url 'password_change' %}">змінити пароль</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="checkout__order">
                        <h5>ВАШІ ОСТАННІ ЗАМОВЛЕННЯ </h5>
                        <div class="checkout__order__product">
                            <ul>
                                {% for order in user_orders %}
                                <li>
                                    <a href="{% url 'order_detail' order_id=order.id %}" target="_blank">
                                    <div class="checkout__order__product">
                                        <span class="top__text__center">Замовлення №{{order.id}}</span><br>
                                        <span class="top__text">Дата замовлення </span>
                                        <span class="top__text__right">{{ order.created|date:"d-M-Y" }}</span><br>
                                        <span class="top__text">Товари:</span><br>
                                        <ul>
                                            {% for item in order.items.all %}
                                            <li>
                                                * {{ item.product.name }}
                                                <span class="top__text__right">{{ item.quantity }} шт.</span>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                        <span class="top__text">Сума замовлення </span>
                                        <span class="top__text__right">{{ order.get_total_cost|floatformat:2 }} грн.</span><br>
                                    </div>
                                    </li>
                                {% endfor %}
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Checkout Section End -->


{% endblock %}
