{% extends "shop/base.html" %}
{% load static %}
{% block title %}Редагування персональних даних{% endblock %}
{% block content %}

<style>
    .center-form-container {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 768px) {
        .checkout {
            display: flex;
            justify-content: center;
        }

        .checkout .col-lg-8 {
            margin-left: auto;
            margin-right: auto;
        }
    }

</style>
<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'shop:index' %}"><i class="fa fa-home"></i> Головна</a>
                    <a href="{% url 'account' %}">Персональні дані</a>
                    <span>Редагування персональних даних</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <form method="post" action="{% url 'edit' %}" class="checkout__form">

            {% csrf_token %}

            <div class="row">
                <div class="col-lg-8">
                    <h5>Редагування персональних даних</h5>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Ваше ім'я</p>
                                <input type="text" name="first_name" value="{{ user_data.first_name }}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Ваше прізвище</p>
                                <input type="text" name="last_name" value="{{ user_data.last_name|default:'не указано' }}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Дата народження (дд.мм.рр)</p>
                                <input type="text" name="birth_date" value="{{ user_data.birth_date|date:'d.m.Y' }}" >
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Телефон </p>
                                <input type="text" name="phone" value="{{ user_data.phone|default:'не указано' }}" data-phone-pattern>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Email </p>
                                <input type="text" name="email" value="{{ user_data.email }}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Місто </p>
                                <input type="text" name="city" value="{{ user_data.city|default:'не указано' }}">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Відділення нової пошти </p>
                                <input type="text" name="department_np" value="{{ user_data.department_np|default:'не указано' }}">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button type="submit" class="site-btn"
                                    style="width: 36%; text-align: center; margin-top: 10px;">Зберегти
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var birthDateText = document.querySelector('input[name="birth_date"]');
        var birthDatePicker = document.querySelector('input[name="birth_date_picker"]');

        birthDatePicker.addEventListener('change', function() {
            // Обновляем значение в верхнем поле при выборе новой даты
            birthDateText.value = birthDatePicker.value;
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
          var eventCalllback = function(e) {
            var el = e.target,
              clearVal = el.dataset.phoneClear,
              pattern = el.dataset.phonePattern,
              matrix_def = "+38 (___) ___-__-__",
              matrix = pattern ? pattern : matrix_def,
              i = 0,
              def = matrix.replace(/\D/g, ""),
              val = e.target.value.replace(/\D/g, "");
            if (clearVal !== 'false' && e.type === 'blur') {
              if (val.length < matrix.match(/([\_\d])/g).length) {
                e.target.value = '';
                return;
              }
            }
            if (def.length >= val.length) val = def;
            e.target.value = matrix.replace(/./g, function(a) {
              return /[_\d]/.test(a) && i < val.length ? val.charAt(i++) : i >= val.length ? "" : a
            });
          }
          var phone_inputs = document.querySelectorAll('[data-phone-pattern]');
          for (let elem of phone_inputs) {
            for (let ev of ['input', 'blur', 'focus']) {
              elem.addEventListener(ev, eventCalllback);
            }
          }
        });
</script>


{% endblock %}
