{% extends "shop/base.html" %}
{% load static %}
{% block content %}

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">


  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


<section class="signup-register-container forms">
  <div class="form login">
    <div class="form-content">
      <header class="login-header">Вхід</header>
      {% if form.non_field_errors %}
          <p class="error">{{ form.non_field_errors }}</p>
      {% endif %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="field input-field">
          <input type="text" name="username" id="id_username" placeholder="E-mail" class="input">
        </div>

        <div class="field input-field">
          <input type="password" name="password" id="id_password" placeholder="Пароль" class="password">
          <i class='bx bx-hide eye-icon'></i>
        </div>

        <div class="form-link">
          <a href="{% url 'password_reset' %}" class="forgot-pass">Забули пароль?</a>
        </div>

        <div class="field button-field">
          <button>Увійти</button>
        </div>
      </form>

      <div class="form-link">
        <span>Не маєте акаунта? <a href="{% url 'register' %}">Зареєструватись</a></span>
      </div>
    </div>

    <div class="line"></div>

    <div class="media-options">
      <a href="#" class="field facebook">
        <i class='bx bxl-facebook facebook-icon'></i>
        <span>Увійти за допомогою Facebook</span>
      </a>
    </div>

    <div class="media-options">
      <a href="#" class="field google">
        <img src="{% static 'img/google.png' %}" alt="" class="google-img">
        <span>Увійти за допомогою Google</span>
      </a>
    </div>

  </div>
</section>

<script>
  const loginForm = document.querySelector(".form.login form");
  loginForm.addEventListener("submit", () => {
  });

  const forms = document.querySelector(".forms"),
        pwShowHide = document.querySelectorAll(".eye-icon"),
        links = document.querySelectorAll(".link");

  pwShowHide.forEach(eyeIcon => {
      eyeIcon.addEventListener("click", () => {
          let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");

          pwFields.forEach(password => {
              if(password.type === "password"){
                  password.type = "text";
                  eyeIcon.classList.replace("bx-hide", "bx-show");
                  return;
              }
              password.type = "password";
              eyeIcon.classList.replace("bx-show", "bx-hide");
          })

      })
  })

  links.forEach(link => {
      link.addEventListener("click", e => {
         e.preventDefault(); //preventing form submit
         forms.classList.toggle("show-signup");
      })
  })
</script>

{% endblock %}