{% extends "shop/base.html" %}
{% load static %}
{% block content %}

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">


  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


  <section class="signup-register-container forms">
      <div class="form login">
          <div class="form-content">
              <header class="login-header">Змінення паролю.</header>
              {% if validlink %}
                <center><p>Будь ласка, введіть новий пароль двічі:</p></center>
                <form method="post" action=".">
                    {% csrf_token %}
                    <div class="field input-field">
                        <input type="text" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" placeholder="Новий пароль" required>
                    </div>
                    <br>
                    <ul>
                        <li><p>Пароль не може бути надто схожим на іншу особисту інформацію.</p></li>
                        <li><p>Ваш пароль повинен містити як мінімум 8 символів</p></li>
                        <li><p>Пароль не може бути одним із дуже поширених.</p></li>
                        <li><p>Пароль не може складається лише із цифр.</p></li>
                    </ul>
                    <div class="field input-field">
                        <input type="text" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" placeholder="Ще раз новий пароль" required>
                    </div>

                    <div class="field button-field">
                        <button>Зберегти</button>
                    </div>
                </form>
              {% else %}
                <p>Посилання для скидання пароля було недійсним, можливо тому, що воно
                    вже було використано. Будь ласка, надішліть знову запит на зміну пароля.</p>
              {% endif %}
          </div>
      </div>
  </section>
{% endblock %}