{% extends "shop/base.html" %}
{% load static %}
{% block content %}

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">


  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>



<section class="signup-register-container forms">
    <div class="form login">
        <div class="form-content">
            <header class="login-header">Забули пароль?</header>
            <br>
            <h5>Введіть свою електронну адресу, щоб отримати новий пароль.</h5>
            <form method="post" action="{% url 'password_reset' %}">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="email" name="email" id="id_email" maxlength="30" placeholder="E-mail*" required>
                </div>

                <div class="field button-field">
                    <button>Надіслати</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
