{% extends "shop/base.html" %}
{% load static %}
{% block content %}

<style>
    .center-form-container {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 768px) {
        .checkout {
            display: flex;
            justify-content: center;
        }

        .checkout .col-lg-8 {
            margin-left: auto;
            margin-right: auto;
        }
    }

</style>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'shop:index' %}"><i class="fa fa-home"></i> Головна</a>
                    <a href="{% url 'account' %}">Персональні дані</a>
                    <span>Зміна пароля</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">
        <form method="post" action="{% url 'password_change' %}" class="checkout__form">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% csrf_token %}

            <div class="row">
                <div class="col-lg-8">
                    <h5>Зміна пароля</h5>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkout__form__input">
                                <p>Старий пароль <span>*</span></p>
                                <input type="text" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}" class="password" required>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3"></div>

                        <div class="col-lg-12">
                            <div class="checkout__form__input mt-3 mb-3"> <!-- Используем классы для отступов -->
                                <ul>
                                    <li><p>Пароль не може бути надто схожим на іншу особисту інформацію.</p></li>
                                    <li><p>Ваш пароль повинен містити як мінімум 8 символів</p></li>
                                    <li><p>Пароль не може бути одним із дуже поширених.</p></li>
                                    <li><p>Пароль не може складатись лише із цифр.</p></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 mb-3"></div>
                        <div class="col-lg-12 mb-3"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Новий пароль <span>*</span></p>
                                <input type="text" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" required>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="checkout__form__input">
                                <p>Підтвердьте пароль <span>*</span></p>
                                <input type="text" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" required>
                            </div>
                        </div>
                        <button type="submit" class="site-btn">Змінити пароль</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{% endblock %}
