{% extends "shop/base.html" %}
{% load static %}
{% block content %}

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">


  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>



<section class="signup-register-container forms">
    <div class="form login">
        <div class="form-content">
            <header class="login-header">Зміна пароля</header>
            <h5>Щоб змінити пароль, заповніть форму.</h5>
            <form method="post" action="{% url 'password_change' %}">
                {% csrf_token %}
                <div class="field input-field">
                    <input type="password" name="{{ form.old_password.name }}" id="{{ form.old_password.id_for_label }}" placeholder="Старий пароль" class="password" required>
                    <i class='bx bx-hide eye-icon'></i>
                </div>
                <br>
                <ul>
                    <li><p>Пароль не може бути надто схожим на іншу особисту інформацію.</p></li>
                    <li><p>Ваш пароль повинен містити як мінімум 8 символів</p></li>
                    <li><p>Пароль не може бути одним із дуже поширених.</p></li>
                    <li><p>Пароль не може складається лише із цифр.</p></li>
                </ul>
                <div class="field input-field">
                    <input type="text" name="{{ form.new_password1.name }}" id="{{ form.new_password1.id_for_label }}" placeholder="Новий пароль" required>
                </div>
                <div class="field input-field">
                    <input type="text" name="{{ form.new_password2.name }}" id="{{ form.new_password2.id_for_label }}" placeholder="Ще раз новий пароль" required>
                </div>

                <div class="field button-field">
                    <button>Змінити</button>
                </div>
            </form>
        </div>
    </div>
</section>


<script>
  const loginForm = document.querySelector(".form.login form");
  loginForm.addEventListener("submit", () => {
  });

  const forms = document.querySelector(".forms"),
        pwShowHide = document.querySelectorAll(".eye-icon"),
        links = document.querySelectorAll(".link");

  pwShowHide.forEach(eyeIcon => {
      eyeIcon.addEventListener("click", () => {
          let pwFields = eyeIcon.parentElement.parentElement.querySelectorAll(".password");

          pwFields.forEach(password => {
              if(password.type === "password"){
                  password.type = "text";
                  eyeIcon.classList.replace("bx-hide", "bx-show");
                  return;
              }
              password.type = "password";
              eyeIcon.classList.replace("bx-show", "bx-hide");
          })

      })
  })

  links.forEach(link => {
      link.addEventListener("click", e => {
         e.preventDefault(); //preventing form submit
         forms.classList.toggle("show-signup");
      })
  })
</script>

{% endblock %}
