{% extends "shop/base.html" %}
{% load static %}
{% block content %}

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">


  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


  <section class="signup-register-container forms">
      <div class="form login">
          <div class="form-content">
              <header class="login-header">Ваш пароль успішно змінено.</header>
              <div class="field button-field">
                  <button><a href="{% url 'shop:index' %}" style="color: white; text-decoration: none;">На головну</a></button>
              </div>
          </div>
      </div>
  </section>
{% endblock %}