{% extends "shop/base.html" %}
{% load static %}
{% block content %}


<!-- CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
<!-- Boxicons CSS -->
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


<style>
    .center-form-container {
        display: flex;
        justify-content: center;
    }

    @media (min-width: 768px) {
        .checkout {
            display: flex;
            justify-content: center;
        }

        .checkout .col-lg-8 {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .col-lg-12.text-center {
        margin-bottom: 10px; /* Новый отступ снизу */
    }

    .site-btn:hover {
        color: #ffffff;
    }

</style>


<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a href="{% url 'shop:index' %}"><i class="fa fa-home"></i> Головна</a>
                    <span>Скидання паролю </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<center>
    <section class="checkout spad">
        <div class="container">
            <form method="post" action="{% url 'password_reset' %}" class="checkout__form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Скидання пароля</h5>
                        <p>Ми надіслали вам інструкції щодо встановлення пароля на електронну пошту.</p>
                        <p>Якщо ви не отримали електронного листа, будь ласка, переконайтесь, що ви ввели адресу, на яку
                            ви зареєструвалися.</p>
                        <div class="row">

                            <div class="col-lg-12 mb-3"></div>
                            <div class="col-lg-12 mb-3"></div>
                            <div class="col-lg-12 mb-3"></div>

                            <div class="col-lg-12">
                                <a href="{% url 'shop:index' %}" class="site-btn"
                                   style="width: 36%; text-align: center; margin-top: 10px;">На головну</a>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
</center>

{% endblock %}