{% extends "shop/base.html" %}
{% load static %}
{% block content %}

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">


  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <section class="signup-register-container forms">
      <div class="form login">
          <div class="form-content">
              <header class="login-header">Скидання паролю.</header>
              <br>
              <p>Ми надіслали вам інструкції щодо встановлення пароля на електронну пошту.</p>
              <p>Якщо ви не отримали електронного листа, будь ласка, переконайтеся, що ви ввели адресу, на яку ви зареєструвалися.</p>
          </div>
      </div>
  </section>
{% endblock %}