{% extends "shop/base.html" %}
{% load static %}
{% block content %}

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">


  <!-- Boxicons CSS -->
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

   <section class="signup-register-container forms">
      <div class="form login">
          <div class="form-content">
              <header class="login-header">Пароль встановлено.</header>
              <center><p>Ваш пароль встановлено. Ви можете увійти в аккаунт </p></center>
              <div class="field button-field">
                  <button><a href="{% url 'login' %}" style="color: white; text-decoration: none;">Ввійти зараз</a></button>
              </div>
          </div>
      </div>
  </section>

{% endblock %}